### **{{ function_name }}{% if not is_property %}({% if metadata.parameters %}...{% else %}{% endif %}){% endif %}**{% if sub_name %} *{{ sub_name}}*{% endif %}
{% if sub_label %}
{{ sub_label }}{% endif %}
{% if metadata.description %}
{{ metadata.description | join('\n') }}{% endif %}
{% if metadata.parameters %}
??? info "Parameters"

    |   |     |   |   |
    |---|:---|:---|---|{% for key, parameter in metadata.parameters.items() %}
    | {{ key }} | `#!python {{ parameter.type }}` | {% if parameter.default %} `#!python = {{ parameter.default }}` {% endif %} | {{ parameter.description }} |{% endfor %}{% endif %}
{% if metadata.yields %}
!!! tip "Yields"

    `#!python {{ metadata.yields[0] }}`
{% for line in metadata.yields[1:] %}
    {{ line }}{% endfor %}{% endif %}
{% if metadata.returns %}

!!! success "Returns"

    `#!python {{ metadata.returns[0] }}`
{% for line in metadata.returns[1:] %}
    {{ line }}{% endfor %}{% endif %}
{%if metadata.raises %}

!!! failure "Raises"

    `#!python {{ metadata.raises[0] }}`
{% for line in metadata.raises[1:] %}
    {{ line }}{% endfor %}{% endif %}
{%if metadata.examples %}

??? example "Examples"

{% for line in metadata.examples %}    {{ line }}
{% endfor %}
{% endif %}
